<div (click)="toggleFilter()" *ngIf="activate_filter" class="filter flex"></div>
<div class="filter-container flex" [ngClass]="(activate_filter == true) ? 'show-filter' : ''">
	<div class="close flex">
		<span>Filter</span>
		<i (click)="toggleFilter()" class="fas fa-times"></i>
	</div>
	<form class="filter-options flex" (submit)="filter($event)">
		<div class="option open">
			<div class="head flex">
				<span class="name">GENDERS</span>
			</div>
			<select class="select-item" id="with_genres" multiple="multiple">
				<option value="" id="All">All</option>
				<option value="28" id="Action">Action</option>
				<option value="12" id="Adventure">Adventure</option>
				<option value="16" id="Animation">Animation</option>
				<option value="35" id="Comedy">Comedy</option>
				<option value="80" id="Crime">Crime</option>
				<option value="18" id="Drama">Drama</option>
				<option value="10751" id="Family">Family</option>
				<option value="14" id="Fantasy">Fantasy</option>
				<option value="36" id="History">History</option>
				<option value="27" id="Horror">Horror</option>
				<option value="10402" id="Music">Music</option>
				<option value="9648" id="Mystery">Mystery</option>
				<option value="10749" id="Romance">Romance</option>
				<option value="878" id="Science Fiction">Science Fiction</option>
				<option value="53" id="Thriller">Thriller</option>
				<option value="10752" id="War">War</option>
				<option value="37" id="Western">Western</option>
			</select>
		</div>
		<div class="option open">
			<div class="head flex">
				<span class="name">RELEASE YEAR</span>
			</div>
			<input type="text" id="primary_release_year" placeholder="Ex. 2018">	
		</div>
		<div class="option open">
			<div class="head flex">
				<span class="name">RATING</span>
			</div>
			<div class="show-value flex"><span>IMDB</span><span class="value">{{rangeValue}}</span></div>
			<input type="range" id="vote_average.gte" min="0" max="10" (input)="displayRangeValue($event)">	
		</div>
		<div class="option open">
			<div class="head flex">
				<span class="name">WITH CAST</span>
			</div>
			<input type="text" id="with_cast" placeholder="Ex. Chris Hemsworth">	
		</div>
		<button class="filter_btn" id="button" type="submit">Filter Data</button>
	</form>
</div>
